@font-face {
    font-family: modern;
    src: url('../img/NotoSansMono-Regular.ttf');
}

@font-face {
    font-family: dos437;
    src: url('../img/dos437.ttf');
}

@font-face {
    font-family: amiga500;
    src: url('../img/TopazPlus_a500_v1.0.ttf');
}

@font-face {
    font-family: amiga1200;
    src: url('../img/TopazPlus_a1200_v1.0.ttf');
}

a:link {
    color: #bbbbbb;
    text-decoration: none;
}

a:visited {
    color: #004fff;
    text-decoration: none;
}

a:hover {
    color: #00cfff;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

b,
strong {
    color: white;
}

dim {
    color: grey;
}

body {
    font-family: 'dos', 'Courier New', Courier, monospace;
    font-size: 22px;
    color: #ABABAB;
    margin: 25px;
    background-color: #000000;
}

/* body {
    font-family: 'dos', 'Courier New', Courier, monospace;
    margin: 0px;
    background-color: #000000;
} */


div {
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    white-space: pre;
}

div.image {
    display: inline-block;
    background-image: url('../img/o94.png');
}

mark {
    background-color: lightgrey;
    color: black;
}

table,
th,
td {
    vertical-align: top;
    padding-top: 0px;
}