@font-face {
    font-family: modern;

    /* experiments to try fixing too-wide fonts on non-chrome browsers https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Fundamentals */
    /* for future font-noodling https://fonts.google.com/?category=Monospace&preview.text=a%E2%96%92%E2%96%92%E2%96%92%C2%B7@%C2%B7%E2%96%92%C2%B7%E2%96%92A!!0%3F&preview.text_type=custom */

    /* works in firefox, not safari */
    /* src: url('img/PTMono-Regular.ttf'); */

    /* no firefox or safari */
    src: url('img/NotoSansMono-Regular.ttf');
    /* src: url('img/NotoSansMono-Light.ttf'); */
}

@font-face {
    font-family: dos437;
    src: url('img/dos437.ttf');
}

@font-face {
    font-family: amiga500;
    src: url('img/TopazPlus_a500_v1.0.ttf');
}

@font-face {
    font-family: amiga1200;
    src: url('img/TopazPlus_a1200_v1.0.ttf');
}

a:link {
    color: #bbbbbb;
    text-decoration: none;
}

a:visited {
    color: #FF00FF;
    text-decoration: none;
}

a:hover {
    color: #FF77FF;
    text-decoration: none;
}

a:active {
    color: #EE0000;
    text-decoration: none;
}

b,
strong {
    color: lightgray;
}

body {
    /* border: 1px solid orange; */
    font-family: 'dos', 'Courier New', Courier, monospace;
    margin: 0px;
    background-color: #000000;
}

div {
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.image {
    display: inline-block;
    background-image: url('img/o94.png');
}

mark {
    background-color: lightgrey;
    color: black;
}

.button,
.narrowbutton,
.variablebutton,
.verticalbutton {
    /* color: black;
    background-color: #FFD700; */
    color: lightgrey;
    background-color: #0071e3;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    user-select: none;
}

.narrowbutton {
    width: 45px;
}

.button {
    width: 70px;
}

.verticalbutton {
    display: block;
    width: 100%;
    height: 100%;
}

.button:disabled,
.narrowbutton:disabled,
.variablebutton:disabled,
.verticalbutton:disabled,
.button[disabled],
.narrowbutton[disabled],
.variablebutton[disabled],
.verticalbutton[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
}



.box,
.larngrid {
    position: absolute;
    /* border: 1px solid white; */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


larn {
    white-space: pre;
    margin: 0px;
    /* border: 1px solid green; */
}

larngrid {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
}

foot {
    /* border: 1px solid cyan; */
}

inventorybuttons {
    /* border: 1px solid pink; */
    position: static;
}

keyboard {
    /* border: 1px solid lightblue; */
}

help {
    /* border: 1px solid violet; */
}

stats {
    white-space: pre;
    /* border: 1px solid yellow; */
}

movebuttons {
    /* border: 1px solid orange; */
}

contextbuttons {
    /* border: 1px solid brown; */
}

run {
    /* border: 1px solid red; */
    /* background: white; */
    transform-origin: top left;
    rotate: 90deg;
}