@font-face {
    font-family: dos437;
    src: url('img/dos437.ttf');
}

@font-face {
    font-family: amiga500;
    src: url('img/TopazPlus_a500_v1.0.ttf');
}

@font-face {
    font-family: amiga1200;
    src: url('img/TopazPlus_a1200_v1.0.ttf');
}

a:link {
    color: #bbbbbb;
}

a:visited {
    color: #551A8B;
}

a:hover {
    color: #FF00FF;
}

a:active {
    color: #EE0000;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

b,
strong {
    color: lightgray;
    /* `<b style="color: #FFDD4B">`; */
    /* color: #00972C; */
}

body {
    font-family: 'dos', 'Courier New', Courier, monospace;
    font-size: 22px;
    color: #ABABAB;
    margin: 25px;
    background-color: #000000;
}

div {
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    white-space: pre;
}

div.image {
    height: 24px;
    width: 12px;
    display: inline-block;
    background-image: url('img/o94.png');
}

mark {
    background-color: lightgrey;
    color: black;
}

.button,
.narrowbutton,
.variablebutton {
    background-color: #039903;
    border: none;
    color: lightgrey;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.narrowbutton {
    width: 24px;
}

.button {
    width: 70px;
}

table,
th,
td {
    vertical-align: top;
    padding-top: 0px;
}